*{
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-container{
display: flex;
position: fixed;
z-index: 10;
width: 100%;
justify-content: space-between;
background-color:#795382;
height: 70px;
}
.nav-container ul{
display: inline-block;
list-style: none;
margin: 20px 10px;

}
.humburgre{
    display: none;
}
li a{
    text-decoration: none;
}

.nav-container  li:hover{
    color:rgba(245, 245, 245, 0.824);
border-bottom: 2px solid #dabef9 ;
cursor:context-menu;

}
.logo img{
     width: 70px; 
     height: 70px;
     border-radius: 50px;
}
.sectionOne{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding-top: 200px;

}
.sectionOne button{
    background-color: transparent;
    border-color: white;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    font-weight: bolder;
    transition: transform 0.1s ease;
}
.sectionOne button:hover{
    transform: scale(1.1);
    background-color:#795382;
}
.sectionOne h1{
    font-size: 80px;
    margin-bottom: 10px;
}
.sectionOne p{
    padding: 20px;
    font-size: larger;
    font-weight: 100px;
}
.link{
    padding: 10px;
}
.link :hover{
    color: #795382;
}
.project,.skills{
    background-color: #242424;
    text-align: center;
    height:100%;
}

.project-card h3 {
    margin-bottom: 40px;
    font-weight: bolder;
font-size:20px;
}
.project-card img{
    width: 400px;
    border-radius: 10px;
}

.project h2,.skills h2{

    padding: 100px 0px;
    font-size: 50px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-around;
    padding: 20px;

}
.demo-button{ 
    background-color: white;
    color: black;

 } 
.code-button{
  background-color: #795382;  
  color: white;
}
.project-card{
    position: relative;
  
    
}
.links{
 position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.358);
    opacity: 0;
}

 .links a{
     padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    border-style: none;
    border-color: white;
    text-decoration: none;


} 

.links:hover{
    opacity: 1;
}
.skills-card{
display: flex;
justify-content: space-around;
justify-content: center;
text-align: center;
gap: 50px;

}
.my-skill{
border: rgba(255, 255, 255, 0.772) solid;
border-radius: 5px;
width: 250px;
height: 200px;
transition: transform 0.1 ease ease-in-out;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}
.my-skill img{
    text-align: center;
}
.my-skill:hover{
    transform: scale(1.1);
}
    .my-skill img {
    width: 100px; 
    height: auto;

}
.ABOUT h2 ,.contact h2 ,.message h2{
    font-size: 50px;
    padding-top: 80px;
    text-align: center;
}

.ABOUT{
    background-color: #292828;
   
}
.aboutme{
    display: flex;
margin-top: 50px;
    justify-content: space-around;
    


}
.aboutme P{
    width: 60%;
    font-size: 20px;
        padding: 90px 0px;
        color:gray;

}
.aboutme img{
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    border: whitesmoke solid;
    object-fit: cover;
    margin-bottom: 50px

}

.btn a{
     padding: 10px 20px;
    border: rgb(48, 46, 46) solid;
    background-color:rgb(43, 42, 42);
    text-decoration: none;
    border-radius: 10px;
    margin: 70px 0px;
    display: inline-block;
}
.btn a:hover{

    transform: scale(1.1);
}
.footer{
    background-color: rgb(4, 4, 4);

}
.linkfooter{
    text-align: center;
    padding: 40px;
}
.footer p{
    padding: 20px;
    font-size: large;
    color: grey;
}
span{
    color: #795382;
}
.contact{
    background-color: #101010;
    height: 80vh;
}
.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:80px;
    justify-content: space-around;
}

.icon i{
text-align: center;    
padding: 20px;
}

.icon p ,a{
    font-size: 20px;
font-weight: bolder;
}
.message{
    background-color: #101010;
  padding: 20px;
  text-align: center;
}

form input ,textarea{
    background-color: transparent;
  font-size: 16px;
border: none;
border-bottom: 2px solid #795382;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
    /* text-align: center; */

}

form{
    width: 70%;
    margin: auto;
}
 input:focus,
textarea:focus {
  border-bottom: 2px solid #ff6b6b;
}



textarea{
    height: 150px;


}
form button{
  background-color: #795382;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;


}
@media (max-width:900px) { 
    .nav-container{
        position: relative;
        
    }
    .nav-links.active{
        opacity: 1;
    }
  .humburgre{
    position: relative;
    display: block;
    cursor: pointer;
    width: 45px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    
  }
  .humburgre i{
   position: absolute;
   inset: 5px 0;
    opacity: 0;
    transition: 0.4s ease;
  }
  .humburgre i.active{
    opacity: 1;
    transform: rotate(180deg);
  }
  .nav-links{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 100%;
    opacity: 0;
    background-color: #795382;
    transition:  0.4s ease;


  }
  .nav-container ul{
    display: block;
    border-bottom:1px solid #fff ;
    padding-bottom:5px ;
  }
  .nav-container ul:last-child{
    border-bottom: none;
    padding-bottom: 0px;
    
  }
  .nav-container  li:hover{
border-bottom: none;

}
.cards{
    display: flex;
   flex-direction: column;
}
.skills-card{
    display: grid ;
    grid-template-columns: repeat(2,200px);
    
    
}
.my-skill{
width: 200px;
height: 150px;
}
.project-card img{
    width: 300px;

}
}